<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="cordova-plugin-grt" version="1.0.0">
  <engines>
    <engine name="cordova-plugman" version=">=5.0.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>
  <name>GRT</name>
  <description>Use the GRT plugin to use machine learning powered gesture recognitions in your cordova app</description>
  <author>Kano Computing</author>
  <keywords>grt,machine learning,gesture,cordova</keywords>
  <license>MIT</license>
  <js-module src="www/grt.js" name="GRT">
    <clobbers target="window.grt" />
  </js-module>
  <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GRTPlugin">
        <param name="android-package" value="com.kano.grt.GRTPlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/com/kano/grt/GRTPlugin.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/GRTAction.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/TSCDWrapper.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/DTWWrapper.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/HMMWrapper.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/KMeansQuantizerWrapper.java" target-dir="src/com/kano/grt" />
    <source-file src="src/android/com/kano/grt/Wrapper.java" target-dir="src/com/kano/grt" />

    <source-file src="android-grt/jni/com/kano/grt/TimeSeriesClassificationData.java" target-dir="src/com/kano/grt" />
    <source-file src="android-grt/jni/com/kano/grt/KMeansQuantizer.java" target-dir="src/com/kano/grt" />
    <source-file src="android-grt/jni/com/kano/grt/DTW.java" target-dir="src/com/kano/grt" />
    <source-file src="android-grt/jni/com/kano/grt/HMM.java" target-dir="src/com/kano/grt" />

    <!-- <source-file src="android-grt/libs/arm64-v8a/libGRT.so" target-dir="libs/arm64-v8a" /> -->
    <!-- <source-file src="android-grt/libs/armeabi/libGRT.so" target-dir="libs/armeabi" /> -->
    <source-file src="android-grt/libs/armeabi-v7a/libGRT.so" target-dir="libs/armeabi-v7a" />
    <!-- <source-file src="android-grt/libs/mips/libGRT.so" target-dir="libs/mips" /> -->
    <!-- <source-file src="android-grt/libs/mips64/libGRT.so" target-dir="libs/mips64" /> -->
    <!-- <source-file src="android-grt/libs/x86/libGRT.so" target-dir="libs/x86" /> -->
    <!-- <source-file src="android-grt/libs/x86_64/libGRT.so" target-dir="libs/x86_64" /> -->
  </platform>
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="GRTPlugin">
              <param name="ios-package" value="GRTPlugin" />
              <param name="onload" value="true" />
          </feature>
      </config-file>

      <!-- GRT sources -->
      <source-file src="src/ios/grt/GRT/CoreModules/Regressifier.cpp" />
      <source-file src="src/ios/grt/GRT/CoreModules/Classifier.cpp" />
      <header-file src="src/ios/grt/GRT/CoreModules/MLBase.h" />
      <source-file src="src/ios/grt/GRT/CoreModules/FeatureExtraction.cpp" />
      <source-file src="src/ios/grt/GRT/CoreModules/Context.cpp" />
      <source-file src="src/ios/grt/GRT/CoreModules/PostProcessing.cpp" />
      <source-file src="src/ios/grt/GRT/CoreModules/PreProcessing.cpp" />
      <header-file src="src/ios/grt/GRT/CoreModules/Context.h" />
      <header-file src="src/ios/grt/GRT/CoreModules/GestureRecognitionPipeline.h" />
      <source-file src="src/ios/grt/GRT/CoreModules/GRTBase.cpp" />
      <header-file src="src/ios/grt/GRT/CoreModules/Clusterer.h" />
      <header-file src="src/ios/grt/GRT/CoreModules/FeatureExtraction.h" />
      <header-file src="src/ios/grt/GRT/CoreModules/PreProcessing.h" />
      <source-file src="src/ios/grt/GRT/CoreModules/MLBase.cpp" />
      <header-file src="src/ios/grt/GRT/CoreModules/Classifier.h" />
      <header-file src="src/ios/grt/GRT/CoreModules/Regressifier.h" />
      <source-file src="src/ios/grt/GRT/CoreModules/Clusterer.cpp" />
      <header-file src="src/ios/grt/GRT/CoreModules/GRTBase.h" />
      <header-file src="src/ios/grt/GRT/CoreModules/PostProcessing.h" />
      <source-file src="src/ios/grt/GRT/CoreModules/GestureRecognitionPipeline.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/MedianFilter.h" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/LeakyIntegrator.h" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/FIRFilter.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/WeightedAverageFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/Derivative.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/LeakyIntegrator.cpp" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/DoubleMovingAverageFilter.cpp" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/HighPassFilter.cpp" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/FIRFilter.cpp" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/RMSFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/DeadZone.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/Derivative.cpp" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/SavitzkyGolayFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/MovingAverageFilter.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/DeadZone.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/HighPassFilter.h" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/LowPassFilter.h" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/SavitzkyGolayFilter.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/MovingAverageFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/RMSFilter.h" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/DoubleMovingAverageFilter.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/MedianFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PreProcessingModules/WeightedAverageFilter.h" />
      <source-file src="src/ios/grt/GRT/PreProcessingModules/LowPassFilter.cpp" />
      <source-file src="src/ios/grt/GRT/RegressionModules/LinearRegression/LinearRegression.cpp" />
      <header-file src="src/ios/grt/GRT/RegressionModules/LinearRegression/LinearRegression.h" />
      <source-file src="src/ios/grt/GRT/RegressionModules/ArtificialNeuralNetworks/MLP/Neuron.cpp" />
      <header-file src="src/ios/grt/GRT/RegressionModules/ArtificialNeuralNetworks/MLP/Neuron.h" />
      <header-file src="src/ios/grt/GRT/RegressionModules/ArtificialNeuralNetworks/MLP/MLP.h" />
      <source-file src="src/ios/grt/GRT/RegressionModules/ArtificialNeuralNetworks/MLP/MLP.cpp" />
      <source-file src="src/ios/grt/GRT/RegressionModules/MultidimensionalRegression/MultidimensionalRegression.cpp" />
      <header-file src="src/ios/grt/GRT/RegressionModules/MultidimensionalRegression/MultidimensionalRegression.h" />
      <header-file src="src/ios/grt/GRT/RegressionModules/RegressionTree/RegressionTreeNode.h" />
      <source-file src="src/ios/grt/GRT/RegressionModules/RegressionTree/RegressionTree.cpp" />
      <header-file src="src/ios/grt/GRT/RegressionModules/RegressionTree/RegressionTree.h" />
      <header-file src="src/ios/grt/GRT/RegressionModules/LogisticRegression/LogisticRegression.h" />
      <source-file src="src/ios/grt/GRT/RegressionModules/LogisticRegression/LogisticRegression.cpp" />
      <source-file src="src/ios/grt/GRT/Util/PeakDetection.cpp" />
      <header-file src="src/ios/grt/GRT/Util/ClassTracker.h" />
      <header-file src="src/ios/grt/GRT/Util/MinMax.h" />
      <source-file src="src/ios/grt/GRT/Util/Util.cpp" />
      <header-file src="src/ios/grt/GRT/Util/Observer.h" />
      <source-file src="src/ios/grt/GRT/Util/LUDecomposition.cpp" />
      <header-file src="src/ios/grt/GRT/Util/SVD.h" />
      <header-file src="src/ios/grt/GRT/Util/DynamicType.h" />
      <header-file src="src/ios/grt/GRT/Util/DebugLog.h" />
      <source-file src="src/ios/grt/GRT/Util/SVD.cpp" />
      <header-file src="src/ios/grt/GRT/Util/ThreadPool.h" />
      <header-file src="src/ios/grt/GRT/Util/TestInstanceResult.h" />
      <header-file src="src/ios/grt/GRT/Util/TrainingDataRecordingTimer.h" />
      <header-file src="src/ios/grt/GRT/Util/CircularBuffer.h" />
      <header-file src="src/ios/grt/GRT/Util/TrainingLog.h" />
      <source-file src="src/ios/grt/GRT/Util/Random.cpp" />
      <header-file src="src/ios/grt/GRT/Util/TrainingResult.h" />
      <header-file src="src/ios/grt/GRT/Util/TestingLog.h" />
      <source-file src="src/ios/grt/GRT/Util/TrainingLog.cpp" />
      <header-file src="src/ios/grt/GRT/Util/DataType.h" />
      <header-file src="src/ios/grt/GRT/Util/GRTCommon.h" />
      <header-file src="src/ios/grt/GRT/Util/ClassificationResult.h" />
      <source-file src="src/ios/grt/GRT/Util/DebugLog.cpp" />
      <source-file src="src/ios/grt/GRT/Util/Metrics.cpp" />
      <source-file src="src/ios/grt/GRT/Util/RangeTracker.cpp" />
      <source-file src="src/ios/grt/GRT/Util/EigenvalueDecomposition.cpp" />
      <header-file src="src/ios/grt/GRT/Util/ErrorLog.h" />
      <header-file src="src/ios/grt/GRT/Util/ObserverManager.h" />
      <header-file src="src/ios/grt/GRT/Util/IndexedDouble.h" />
      <source-file src="src/ios/grt/GRT/Util/TestingLog.cpp" />
      <header-file src="src/ios/grt/GRT/Util/Timer.h" />
      <header-file src="src/ios/grt/GRT/Util/FileParser.h" />
      <header-file src="src/ios/grt/GRT/Util/EigenvalueDecomposition.h" />
      <source-file src="src/ios/grt/GRT/Util/ErrorLog.cpp" />
      <header-file src="src/ios/grt/GRT/Util/GRTVersionInfo.h" />
      <header-file src="src/ios/grt/GRT/Util/Dict.h" />
      <header-file src="src/ios/grt/GRT/Util/Log.h" />
      <header-file src="src/ios/grt/GRT/Util/LUDecomposition.h" />
      <header-file src="src/ios/grt/GRT/Util/RangeTracker.h" />
      <header-file src="src/ios/grt/GRT/Util/Util.h" />
      <header-file src="src/ios/grt/GRT/Util/TestResult.h" />
      <header-file src="src/ios/grt/GRT/Util/PeakDetection.h" />
      <header-file src="src/ios/grt/GRT/Util/ThresholdCrossingDetector.h" />
      <source-file src="src/ios/grt/GRT/Util/TrainingDataRecordingTimer.cpp" />
      <source-file src="src/ios/grt/GRT/Util/TimeSeriesClassificationSampleTrimmer.cpp" />
      <header-file src="src/ios/grt/GRT/Util/GRTTypedefs.h" />
      <header-file src="src/ios/grt/GRT/Util/WarningLog.h" />
      <header-file src="src/ios/grt/GRT/Util/Cholesky.h" />
      <source-file src="src/ios/grt/GRT/Util/ThreadPool.cpp" />
      <header-file src="src/ios/grt/GRT/Util/Metrics.h" />
      <source-file src="src/ios/grt/GRT/Util/Cholesky.cpp" />
      <header-file src="src/ios/grt/GRT/Util/TimeSeriesClassificationSampleTrimmer.h" />
      <header-file src="src/ios/grt/GRT/Util/GRTException.h" />
      <header-file src="src/ios/grt/GRT/Util/CommandLineParser.h" />
      <header-file src="src/ios/grt/GRT/Util/InfoLog.h" />
      <source-file src="src/ios/grt/GRT/Util/InfoLog.cpp" />
      <header-file src="src/ios/grt/GRT/Util/TimeStamp.h" />
      <header-file src="src/ios/grt/GRT/Util/Random.h" />
      <source-file src="src/ios/grt/GRT/Util/WarningLog.cpp" />
      <source-file src="src/ios/grt/GRT/Util/ThresholdCrossingDetector.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/TimeSeriesClassificationSample.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/MatrixFloat.cpp" />
      <source-file src="src/ios/grt/GRT/DataStructures/TimeSeriesClassificationSample.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/Matrix.h" />
      <header-file src="src/ios/grt/GRT/DataStructures/ClassificationData.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/RegressionData.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/ClassificationDataStream.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/ClassificationData.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/UnlabelledData.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/ClassificationSample.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/RegressionData.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/UnlabelledData.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/VectorFloat.h" />
      <header-file src="src/ios/grt/GRT/DataStructures/MatrixFloat.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/TimeSeriesClassificationData.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/TimeSeriesClassificationData.h" />
      <header-file src="src/ios/grt/GRT/DataStructures/TimeSeriesPositionTracker.h" />
      <source-file src="src/ios/grt/GRT/DataStructures/VectorFloat.cpp" />
      <source-file src="src/ios/grt/GRT/DataStructures/RegressionSample.cpp" />
      <source-file src="src/ios/grt/GRT/DataStructures/ClassificationDataStream.cpp" />
      <header-file src="src/ios/grt/GRT/DataStructures/Vector.h" />
      <header-file src="src/ios/grt/GRT/DataStructures/ClassificationSample.h" />
      <header-file src="src/ios/grt/GRT/DataStructures/RegressionSample.h" />
      <header-file src="src/ios/grt/GRT/GRT.h" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/TimeDomainFeatures/TimeDomainFeatures.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/TimeDomainFeatures/TimeDomainFeatures.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/MovementIndex/MovementIndex.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/MovementIndex/MovementIndex.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/EnvelopeExtractor/EnvelopeExtractor.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/EnvelopeExtractor/EnvelopeExtractor.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/KMeansQuantizer/KMeansQuantizer.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/KMeansQuantizer/KMeansQuantizer.cpp" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/RBMQuantizer/RBMQuantizer.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/RBMQuantizer/RBMQuantizer.h" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/KMeansFeatures/KMeansFeatures.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/KMeansFeatures/KMeansFeatures.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FFT.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FFTFeatures.cpp" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FFT.cpp" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FastFourierTransform.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FFTFeatures.h" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/FFT/FastFourierTransform.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/ZeroCrossingCounter/ZeroCrossingCounter.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/ZeroCrossingCounter/ZeroCrossingCounter.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/SOMQuantizer/SOMQuantizer.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/SOMQuantizer/SOMQuantizer.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/MovementTrajectoryFeatures/MovementTrajectoryFeatures.cpp" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/MovementTrajectoryFeatures/MovementTrajectoryFeatures.h" />
      <header-file src="src/ios/grt/GRT/FeatureExtractionModules/TimeseriesBuffer/TimeseriesBuffer.h" />
      <source-file src="src/ios/grt/GRT/FeatureExtractionModules/TimeseriesBuffer/TimeseriesBuffer.cpp" />
      <header-file src="src/ios/grt/GRT/ContextModules/Gate.h" />
      <source-file src="src/ios/grt/GRT/ContextModules/Gate.cpp" />
      <source-file src="src/ios/grt/GRT/CoreAlgorithms/Tree/Node.cpp" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/Tree/Tree.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/Tree/Node.h" />
      <source-file src="src/ios/grt/GRT/CoreAlgorithms/Tree/Tree.cpp" />
      <source-file src="src/ios/grt/GRT/CoreAlgorithms/MovementDetector/MovementDetector.cpp" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/MovementDetector/MovementDetector.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/ParticleFilter/ParticleFilter.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/ParticleFilter/Particle.h" />
      <source-file src="src/ios/grt/GRT/CoreAlgorithms/BernoulliRBM/BernoulliRBM.cpp" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/BernoulliRBM/BernoulliRBM.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/GridSearch/GridSearch.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/MeanShift/MeanShift.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/LeastSquares/LinearLeastSquares.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/PrincipalComponentAnalysis/PrincipalComponentAnalysis.h" />
      <source-file src="src/ios/grt/GRT/CoreAlgorithms/PrincipalComponentAnalysis/PrincipalComponentAnalysis.cpp" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/EvolutionaryAlgorithm/Individual.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/EvolutionaryAlgorithm/EvolutionaryAlgorithm.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/ParticleSwarmOptimization/ParticleSwarmOptimization.h" />
      <header-file src="src/ios/grt/GRT/CoreAlgorithms/ParticleSwarmOptimization/PSOParticle.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/RandomForests/RandomForests.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/RandomForests/RandomForests.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/GMM/MixtureModel.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/GMM/GMM.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/GMM/GMM.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/KNN/KNN.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/KNN/KNN.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/SwipeDetector/SwipeDetector.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/SwipeDetector/SwipeDetector.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeThresholdNode.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeThresholdNode.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTree.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeClusterNode.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTree.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeClusterNode.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeNode.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeTripleFeatureNode.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeNode.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DecisionTree/DecisionTreeTripleFeatureNode.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/ParticleClassifier/ParticleClassifier.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/ParticleClassifier/ParticleClassifierParticleFilter.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/ParticleClassifier/ParticleClassifier.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/MinDist/MinDist.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/MinDist/MinDistModel.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/MinDist/MinDist.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/MinDist/MinDistModel.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/DTW/DTW.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/DTW/DTW.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/SVM/SVM.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/SVM/LIBSVM/libsvm.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/SVM/LIBSVM/libsvm.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/SVM/SVM.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/AdaBoost.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/AdaBoostClassModel.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/DecisionStump.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/DecisionStump.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/RadialBasisFunction.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/RadialBasisFunction.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/WeakClassifier.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/WeakClassifiers/WeakClassifier.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/AdaBoost/AdaBoost.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/Softmax/Softmax.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/Softmax/SoftmaxModel.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/Softmax/Softmax.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/FiniteStateMachine/FSMParticleFilter.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/FiniteStateMachine/FSMParticle.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/FiniteStateMachine/FiniteStateMachine.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/FiniteStateMachine/FiniteStateMachine.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/HMM/HMM.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/HMM/ContinuousHiddenMarkovModel.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/HMM/DiscreteHiddenMarkovModel.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/HMM/HMMEnums.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/HMM/HMM.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/HMM/DiscreteHiddenMarkovModel.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/HMM/ContinuousHiddenMarkovModel.h" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/BAG/BAG.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/BAG/BAG.cpp" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/ANBC/ANBC_Model.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/ANBC/ANBC.h" />
      <source-file src="src/ios/grt/GRT/ClassificationModules/ANBC/ANBC.cpp" />
      <header-file src="src/ios/grt/GRT/ClassificationModules/ANBC/ANBC_Model.h" />
      <header-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelChangeFilter.h" />
      <source-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelFilter.h" />
      <source-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelTimeoutFilter.cpp" />
      <source-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelChangeFilter.cpp" />
      <header-file src="src/ios/grt/GRT/PostProcessingModules/ClassLabelTimeoutFilter.h" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/ClusterTree/ClusterTreeNode.h" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/ClusterTree/ClusterTree.h" />
      <source-file src="src/ios/grt/GRT/ClusteringModules/ClusterTree/ClusterTree.cpp" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/HierarchicalClustering/HierarchicalClustering.h" />
      <source-file src="src/ios/grt/GRT/ClusteringModules/HierarchicalClustering/HierarchicalClustering.cpp" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/SelfOrganizingMap/SelfOrganizingMap.h" />
      <source-file src="src/ios/grt/GRT/ClusteringModules/SelfOrganizingMap/SelfOrganizingMap.cpp" />
      <source-file src="src/ios/grt/GRT/ClusteringModules/GaussianMixtureModels/GaussianMixtureModels.cpp" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/GaussianMixtureModels/GaussianMixtureModels.h" />
      <header-file src="src/ios/grt/GRT/ClusteringModules/KMeans/KMeans.h" />
      <source-file src="src/ios/grt/GRT/ClusteringModules/KMeans/KMeans.cpp" />

      <header-file src="src/ios/GRTWrapper.h" />
      <source-file src="src/ios/GRTWrapper.mm" />

      <header-file src="src/ios/cordova-plugin-grt-Bridging-Header.h" />
      <source-file src="src/ios/GRTPlugin.swift" />
  </platform>
</plugin>
